/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular-notifier/styles';

body{
  background: #edf1f5;
  margin-top: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}

.card {
  margin-bottom: 30px;
}

.sharp-corner-button {
  border-radius: 0; /* Set border-radius to 0 for sharp corners */
}
.right-align {
  text-align: right;
}
